{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jira Ticket</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="ticket-container">
        <div class="ticket-header">
            <h1>Jira Ticket</h1>
        </div>
        <div class="ticket-content">
            <div class="ticket-item">
                <span class="ticket-label">Title:</span>
                <span class="ticket-value" id="feature">{{ title }}</span>
            </div>
            <div class="ticket-item">
                <span class="ticket-label">Feature:</span>
                <span class="ticket-value" id="feature">{{ session["ticket_inputs"]["features"] }}</span>
            </div>
            <div class="ticket-item">
                <span class="ticket-label">Description:</span>
                <span class="ticket-value" id="description">{{ description }}</span>
            </div>
            <div class="ticket-item">
                <span class="ticket-label">Story Point:</span>
                <span class="ticket-value" id="story_point">{{ story_points }}</span>
            </div>
            <div class="ticket-item">
                <span class="ticket-label">Acceptance Criteria:</span>
                <span class="ticket-value" id="acceptance_criteria">{{ acceptance_criteria }}</span>
            </div>
        </div>
    </div>
</body>
</html>


{% endblock %}
